@font-face {
    font-family: "ProximaNova-Regular";
    src: url(fonts/ProximaNova-Regular.otf);
    font-weight: 400px;
    font-style: normal;
}
  
  @font-face {
    font-family: "ProximaNova-Bold";
    src: url(fonts/ProximaNova-Bold.otf);
    font-weight: 700px;
    font-style: normal;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.list-styles-reset {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3 {
    margin: 0;
    font-family: "ProximaNova-Bold";
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    padding-left: 4%;
    padding-right: 4%;
}

body {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    color: #000000;
    font-family: "ProximaNova-Regular";
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color:#79bd8f;
}

.main-title {
    font-size: 14px;
}

.operating-info {
    display: flex;
    flex-direction: column;
}

.operating-info-item {
    font-size: 8px;
}

.header-address {
    display: none;
}

.header-content-cover {
    position: relative;
    background-image: url(img/car.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content-cover::after {
    content: "";
    position: absolute;
    background-color: #a6ceb3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header-slogan {
    font-size: 12px;
    padding-top: 19px;
    padding-bottom: 13px;
    max-width: 320px;
}

.header-slogan-part-two {
    display: none;
}

.header-slogan-next-line {
    display: inline-block;
}

.contact-button {
    display: flex;
    box-sizing: border-box;
    width: 125px;
    margin: auto;
    border: 3px solid #000000;
}

.header-contact-button {
    display: none;
}

.contact-button-text {
    font-size: 18px;
    margin: auto;
}

.links-bar {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    padding-bottom: 20px;
}

.links:nth-child(2) {
    margin-left: auto;
}

.link-item:nth-child(2) {
    margin-left: 5vw;
    margin-right: 5vw;
}

.links a {
    display: flex;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.link-call {
    position: relative;
    background-image: url(img/social/phone-icon-80.png);
    background-size: 40px;
}

.link-call::after {
    position: absolute;
    content: 'Позвонить';
    font-size: 9px;
    top: 40px;
    left: -1px;
}

.link-whatsapp {
    position: relative;
    background-image: url(img/social/whatsapp-icon-80.png);
    background-size: 40px;
}

.link-whatsapp::after {
    position: absolute;
    content: 'Whatsapp';
    font-size: 9px;
    top: 40px;
    left: 2px;
}

.link-viber {
    position: relative;
    background-image: url(img/social/viber-icon-80.png);
    background-size: 40px;
}

.link-viber::after {
    position: absolute;
    content: 'Viber';
    font-size: 9px;
    top: 40px;
    left: 10px;
}

.link-insta {
    position: relative;
    background-image: url(img/social/insta-icon-80.png);
    background-size: 40px;
}

.link-insta::after {
    position: absolute;
    content: 'Instagram';
    font-size: 9px;
    top: 40px;
    left: -2px;
}

.link-vk {
    position: relative;
    background-image: url(img/social/vk-icon-80.png);
    background-size: 40px;
}

.link-vk::after {
    position: absolute;
    content: 'ВКонтакте';
    font-size: 9px;
    top: 40px;
    left: -1px;
}

.link-email {
    position: relative;
    background-image: url(img/social/email-icon-80.png);
    background-size: 40px;
}

.link-email::after {
    position: absolute;
    content: 'e-mail';
    font-size: 9px;
    top: 40px;
    left: 8px;
}

.service-links {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 189, 143, 0.3);
    padding-top: 20px;
}

.servise-links-part {
    display: flex;
    padding-bottom: 20px;
}

.service-links-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85px;
    margin: auto;
}

.service-link {
    display: flex;
    flex-direction: column;
}

.service-links-article img {
    margin: auto;
}

.service-links-article p {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.service-articles {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.service-article {
    display: flex;
    flex-direction: column;
}

.service-article img {
    margin: 16px auto 0px auto;
}

.service-article-title {
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    margin: 15px auto 8px auto;
}

.service-article-description {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.advantages-articles {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 189, 143, 0.3);
    padding-bottom: 20px;
}

.advantages-article {
    display: flex;
    flex-direction: column;
}

.advantages-article img {
    margin: 20px auto 0px auto;
}

.advantages-article-title {
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    margin: 15px auto 8px auto;
}

.advantages-article-description {
    font-size: 12px;
    text-align: center;
}