@font-face {
    font-family: "ProximaNova-Regular";
    src: url(fonts/woff/ProximaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
  
  @font-face {
    font-family: "ProximaNova-Bold";
    src: url(fonts/woff/ProximaNova-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.list-styles-reset {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2 {
    margin: 0;
    font-family: "ProximaNova-Bold";
}

h3 {
    font-family: "ProximaNova-Regular";
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    padding-left: 4%;
    padding-right: 4%;
}

body {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    color: #000000;
    font-family: "ProximaNova-Regular";
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color:#7dbd8d;
}

.header-logo-title {
    display: flex;
    align-items: center;
}

.header-main-title {
    font-size: 16px;
    line-height: 18px;
    margin-left: 4px;
}

.next-line {
    display: block;
}

.operating-info {
    display: flex;
    flex-direction: column;
}

.operating-info-item {
    font-size: 12px;
}

.header-address {
    display: none;
}

.header-content-cover {
    position: relative;
    background-image: url(img/car.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content-cover::after {
    content: "";
    position: absolute;
    background-color: #a6ceb3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.header-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header-slogan {
    margin-top: 12px;
    margin-bottom: 11px;
}

.header-slogan h2 {
    font-family: "ProximaNova-Regular";
    font-size: 16px;
}

.header-slogan-part-two {
    margin-top: 10px;
    font-size: 12px;
}

.contact-us-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-us-button {
    display: flex;
    width: 200px;
    margin: 20px auto 30px auto;
    border: 1px solid #000000;
    border-radius: 15px;
}

.contact-us-button a {
    margin: auto;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-active {
    display: flex;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    background-color: rgba(121, 189, 143, 0.9);
    border: 2px solid darkseagreen;
    border-radius: 20px;
    /* top: 60px; */
}

.modal-close {
    position: absolute;
    font-size: 24px;
    left: calc(100% - 24px);
    cursor: pointer;
}

.links {
    display: flex;
    width: 184px;
}

.links:first-child {
    margin: 30px auto 20px auto;
}

.links:nth-child(2) {
    margin: 20px auto 40px auto;
}

.link-item:nth-child(2) {
    margin-left: 17%;
    margin-right: 17%;
}

.links a {
    display: flex;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.link-call {
    position: relative;
    background-image: url(img/social/phone-icon-80.png);
    background-size: 40px;
}

.link-call::after {
    position: absolute;
    content: 'Позвонить';
    font-size: 9px;
    top: 40px;
    left: -1px;
}

.link-whatsapp {
    position: relative;
    background-image: url(img/social/whatsapp-icon-80.png);
    background-size: 40px;
}

.link-whatsapp::after {
    position: absolute;
    content: 'Whatsapp';
    font-size: 9px;
    top: 40px;
    left: 2px;
}

.link-viber {
    position: relative;
    background-image: url(img/social/viber-icon-80.png);
    background-size: 40px;
}

.link-viber::after {
    position: absolute;
    content: 'Viber';
    font-size: 9px;
    top: 40px;
    left: 10px;
}

.link-insta {
    position: relative;
    background-image: url(img/social/insta-icon-80.png);
    background-size: 40px;
}

.link-insta::after {
    position: absolute;
    content: 'Instagram';
    font-size: 9px;
    top: 40px;
    left: 2px;
}

.link-vk {
    position: relative;
    background-image: url(img/social/vk-icon-80.png);
    background-size: 40px;
}

.link-vk::after {
    position: absolute;
    content: 'ВКонтакте';
    font-size: 9px;
    top: 40px;
    left: -1px;
}

.link-email {
    position: relative;
    background-image: url(img/social/email-icon-80.png);
    background-size: 40px;
}

.link-email::after {
    position: absolute;
    content: 'e-mail';
    font-size: 9px;
    top: 40px;
    left: 8px;
}

.service-links {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 189, 143, 0.3);
    padding-top: 20px;
}

.servise-links-part {
    display: flex;
    padding-bottom: 20px;
}

.service-links-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85px;
    margin: auto;
}

.service-link {
    display: flex;
    flex-direction: column;
}

.service-links-article img {
    margin: auto;
}

.service-links-article p {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.service-articles {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.service-article {
    display: flex;
    flex-direction: column;
}

.service-article img {
    margin: 16px auto 0px auto;
}

.service-article-title {
    font-size: 18px;
    margin: 15px auto 8px auto;
}

.service-article-description {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.advantages-articles {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 189, 143, 0.3);
    padding-bottom: 20px;
}

.advantages-article {
    display: flex;
    flex-direction: column;
}

.advantages-article img {
    margin: 20px auto 0px auto;
}

.advantages-article-title {
    font-size: 18px;
    margin: 15px auto 8px auto;
}

.advantages-article-description {
    font-size: 12px;
    text-align: center;
}

.contact-button {
    display: flex;
    box-sizing: border-box;
    border-radius: 15px;
    width: 125px;
    margin: auto;
    border: 1px solid #7dbd8d;
}

.contact-button-text {
    font-size: 16px;
    margin: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    background-color:#79bd8f;
}

.footer-logo-title {
    display: flex;
    flex-direction: column;
    width: 226px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-title a {
    margin: auto;
}

.svg-logo {
    width: 100px;
    height: 100px;
}

.footer-title {
    font-size: 18px;
    line-height: 30px;
    margin: 0px auto 14px auto;
    text-align: center;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.footer-contact-info-item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}